/* 导航的颜色 */
.ant-menu.ant-menu-dark{
    background: #000000 !important;
}
/* 头部面包屑 */
.layout-header-left .ant-breadcrumb{
    height: 50px !important;
    line-height: 50px !important;
}
/* 导航大小 */
.ant-menu-item{
    height: 45px !important;
}
/* 导航角标 */
.ant-layout-sider-trigger{
    display: none !important;
}
.ant-menu-vertical{
}
