body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.m-l-15 {
    margin-left: 15px;
}


@media screen and (max-width: 768px) {
    .layout-header{
        height: 50px !important;
    }
    .layout-header-left{
        >div{
            display: none !important;
        }
    }
    .layout-header-right{
        .icon{
            display: none !important;
        }
    }
}